# # Node Modules
# node_modules/

# # Environment Files
# .env
# .env.local
# .env.development
# .env.staging
# .env.production

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Reports
/reports/

# # Downloads
# /downloads/

# # Screenshots
# /screenshots/

# # Logs
# *.log

# # OS Files
# .DS_Store
# Thumbs.db

# # IDE
# .vscode/
# .idea/